Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [6]:
def is_sym(num):
    if str(num)==str(num)[::-1]:
        print("True") 
    else:
        print("False")
    
is_sym(7227)
is_sym(12567)
is_sym(444444)
is_sym(9939)
is_sym(1112111)

True
False
True
False
True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [53]:
import functools
import operator
def multiply_nums(str_inp):
    
    ls=str_inp.split(',')
    #print(ls)
    for i in range(0,len(ls)):
        ls[i]=int(ls[i])
    #print("afgter",ls)
    print(functools.reduce(operator.mul, ls))
    
multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0") 
multiply_nums("10, -2")

6
24
0
-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [110]:
def square_digits(num):
    ls=[]
    for i in str(num):
        ls.append(int(i))
    final_list = list(map(lambda x: x**2, ls))
    #print(final_list)
    for i in range(0,len(final_list)):
        final_list[i]=str(final_list[i])
    print("".join(final_list))

    
square_digits(9119)
square_digits(2483)
square_digits(3212)

811181
416649
9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [111]:
def setify(in_list):
    out_list = sorted(set(in_list))
    print(f'{in_list} ➞ {out_list}')
    
setify([1, 3, 3, 5, 5]) 
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

[1, 3, 3, 5, 5] ➞ [1, 3, 5]
[4, 4, 4, 4] ➞ [4]
[5, 7, 8, 9, 10, 15] ➞ [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1] ➞ [1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [124]:
def mean1(num):
   
    ls=[]
    for i in str(num):
        ls.append(int(i))
    print(int(sum(ls)/len(ls)))
    
mean1(42)
mean1(12345)
mean1(666)

3
3
6